.btn {
    padding: .5em;
    border: 0;
    outline: 0;
  }
  .btn-primary {
    background: blue;
    color: white;
  }
  .btn-success {
    background: green;
    color: white;
    
  }
  .btn-danger {
    background: red;
    color: white;
    
  }
  .btn-warning {
    background: yellow;
    color: white;
    
  }
  .error-cont {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }